body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  max-width: 1080px;
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "main map";
}

.main {
  grid-area: main;
}

.district:hover {
  /* -webkit-transform: scale(1.005);
  transform: scale(1.005); */
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.stats-table {
  margin: 0 auto;
  font-size: 20px;
}

.stats-table td {
  padding: 0 15px 0 15px;
}

td:first-child {
  text-align: left;
}
td:nth-child(2) {
  text-align: right;
}
